In [143]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [144]:
df=pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [146]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [147]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [148]:
print(df['Embarked'].value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [149]:
df['Embarked'].fillna('S', inplace=True)

In [150]:
df['Cabin'].fillna('UNKNOWN', inplace=True)

In [151]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [152]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,UNKNOWN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,UNKNOWN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,UNKNOWN,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,UNKNOWN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,UNKNOWN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,UNKNOWN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,UNKNOWN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,UNKNOWN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,UNKNOWN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,UNKNOWN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,UNKNOWN,S
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,UNKNOWN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,UNKNOWN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,UNKNOWN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,UNKNOWN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,UNKNOWN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,UNKNOWN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,UNKNOWN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,UNKNOWN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,UNKNOWN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,UNKNOWN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,29.699118,0,0,349216,7.8958,UNKNOWN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,UNKNOWN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,UNKNOWN,S
864,865,0,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,UNKNOWN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,UNKNOWN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,UNKNOWN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,UNKNOWN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,UNKNOWN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,UNKNOWN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,UNKNOWN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,UNKNOWN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,UNKNOWN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,UNKNOWN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,UNKNOWN,S
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,UNKNOWN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,UNKNOWN,S
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,UNKNOWN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,UNKNOWN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,UNKNOWN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,UNKNOWN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,UNKNOWN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,UNKNOWN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,UNKNOWN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,UNKNOWN,Q

In [153]:
embarkedDf=pd.DataFrame()

embarkedDf = pd.get_dummies( df['Embarked'] , prefix='Embarked' )
embarkedDf.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [154]:
df= pd.concat([df,embarkedDf],axis=1)
df.drop('Embarked',axis=1,inplace=True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,UNKNOWN,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,UNKNOWN,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,UNKNOWN,0,0,1
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,UNKNOWN,0,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,UNKNOWN,0,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,UNKNOWN,0,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,UNKNOWN,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,UNKNOWN,0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,UNKNOWN,0,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,UNKNOWN,0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,UNKNOWN,0,0,1
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,UNKNOWN,0,1,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,UNKNOWN,0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,UNKNOWN,0,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,UNKNOWN,1,0,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,UNKNOWN,0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,UNKNOWN,0,1,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,UNKNOWN,0,0,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,UNKNOWN,0,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,UNKNOWN,1,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,0,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,UNKNOWN,0,1,0
29,30,0,3,"Todoroff, Mr. Lalio",male,29.699118,0,0,349216,7.8958,UNKNOWN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,UNKNOWN,0,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,D17,0,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,UNKNOWN,0,0,1
864,865,0,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,UNKNOWN,0,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,UNKNOWN,0,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,UNKNOWN,1,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,A24,0,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,UNKNOWN,0,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,UNKNOWN,0,0,1
870,871,0,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,UNKNOWN,0,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,D35,0,0,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,B51 B53 B55,0,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,UNKNOWN,0,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,UNKNOWN,1,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,UNKNOWN,1,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,UNKNOWN,0,0,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,UNKNOWN,0,0,1
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,UNKNOWN,0,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C50,1,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,UNKNOWN,0,0,1
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,UNKNOWN,0,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,UNKNOWN,0,0,1
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,UNKNOWN,0,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,UNKNOWN,0,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,UNKNOWN,0,1,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,UNKNOWN,0,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,UNKNOWN,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,UNKNOWN,0,1,0

In [155]:
sex_mapDict={'male':1,'female':0}
df['Sex']=df['Sex'].map(sex_mapDict)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,UNKNOWN,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,UNKNOWN,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,0,1
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,UNKNOWN,0,0,1
5,6,0,3,"Moran, Mr. James",1,29.699118,0,0,330877,8.4583,UNKNOWN,0,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,UNKNOWN,0,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,UNKNOWN,0,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,UNKNOWN,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,UNKNOWN,0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,UNKNOWN,0,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,UNKNOWN,0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,UNKNOWN,0,0,1
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,UNKNOWN,0,1,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.699118,0,0,244373,13.0000,UNKNOWN,0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,UNKNOWN,0,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.699118,0,0,2649,7.2250,UNKNOWN,1,0,0
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,UNKNOWN,0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,UNKNOWN,0,1,0
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,UNKNOWN,0,0,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,UNKNOWN,0,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.699118,0,0,2631,7.2250,UNKNOWN,1,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,0,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.699118,0,0,330959,7.8792,UNKNOWN,0,1,0
29,30,0,3,"Todoroff, Mr. Lalio",1,29.699118,0,0,349216,7.8958,UNKNOWN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,UNKNOWN,0,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,0,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.699118,8,2,CA. 2343,69.5500,UNKNOWN,0,0,1
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,UNKNOWN,0,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,UNKNOWN,0,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,UNKNOWN,1,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,0,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.699118,0,0,345777,9.5000,UNKNOWN,0,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,UNKNOWN,0,0,1
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,UNKNOWN,0,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,0,0,1
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,0,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,UNKNOWN,0,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,UNKNOWN,1,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,UNKNOWN,1,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,UNKNOWN,0,0,1
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,UNKNOWN,0,0,1
878,879,0,3,"Laleff, Mr. Kristo",1,29.699118,0,0,349217,7.8958,UNKNOWN,0,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,1,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,UNKNOWN,0,0,1
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,UNKNOWN,0,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,UNKNOWN,0,0,1
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,UNKNOWN,0,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,UNKNOWN,0,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,UNKNOWN,0,1,0
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,UNKNOWN,0,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.699118,1,2,W./C. 6607,23.4500,UNKNOWN,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,UNKNOWN,0,1,0

In [156]:
pclassDf=pd.DataFrame()

pclassDf=pd.get_dummies(df['Pclass'],prefix='Pclass')

df= pd.concat([df,pclassDf],axis=1)
df.drop('Pclass',axis=1,inplace=True)
df

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,UNKNOWN,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,UNKNOWN,0,0,1,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,0,0,1,1,0,0
4,5,0,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,UNKNOWN,0,0,1,0,0,1
5,6,0,"Moran, Mr. James",1,29.699118,0,0,330877,8.4583,UNKNOWN,0,1,0,0,0,1
6,7,0,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,0,0,1,1,0,0
7,8,0,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,UNKNOWN,0,0,1,0,0,1
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,UNKNOWN,0,0,1,0,0,1
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,UNKNOWN,1,0,0,0,1,0
10,11,1,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,0,0,1,0,0,1
11,12,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,0,0,1,1,0,0
12,13,0,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,UNKNOWN,0,0,1,0,0,1
13,14,0,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,UNKNOWN,0,0,1,0,0,1
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,UNKNOWN,0,0,1,0,0,1
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,UNKNOWN,0,0,1,0,1,0
16,17,0,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,UNKNOWN,0,1,0,0,0,1
17,18,1,"Williams, Mr. Charles Eugene",1,29.699118,0,0,244373,13.0000,UNKNOWN,0,0,1,0,1,0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,UNKNOWN,0,0,1,0,0,1
19,20,1,"Masselmani, Mrs. Fatima",0,29.699118,0,0,2649,7.2250,UNKNOWN,1,0,0,0,0,1
20,21,0,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,UNKNOWN,0,0,1,0,1,0
21,22,1,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,0,0,1,0,1,0
22,23,1,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,UNKNOWN,0,1,0,0,0,1
23,24,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,0,0,1,1,0,0
24,25,0,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,UNKNOWN,0,0,1,0,0,1
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,UNKNOWN,0,0,1,0,0,1
26,27,0,"Emir, Mr. Farred Chehab",1,29.699118,0,0,2631,7.2250,UNKNOWN,1,0,0,0,0,1
27,28,0,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,0,0,1,1,0,0
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.699118,0,0,330959,7.8792,UNKNOWN,0,1,0,0,0,1
29,30,0,"Todoroff, Mr. Lalio",1,29.699118,0,0,349216,7.8958,UNKNOWN,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,UNKNOWN,0,0,1,0,1,0
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,0,0,1,1,0,0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.699118,8,2,CA. 2343,69.5500,UNKNOWN,0,0,1,0,0,1
864,865,0,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,UNKNOWN,0,0,1,0,1,0
865,866,1,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,UNKNOWN,0,0,1,0,1,0
866,867,1,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,UNKNOWN,1,0,0,0,1,0
867,868,0,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,0,0,1,1,0,0
868,869,0,"van Melkebeke, Mr. Philemon",1,29.699118,0,0,345777,9.5000,UNKNOWN,0,0,1,0,0,1
869,870,1,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,UNKNOWN,0,0,1,0,0,1
870,871,0,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,UNKNOWN,0,0,1,0,0,1
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,0,0,1,1,0,0
872,873,0,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,0,0,1,1,0,0
873,874,0,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,UNKNOWN,0,0,1,0,0,1
874,875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,UNKNOWN,1,0,0,0,1,0
875,876,1,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,UNKNOWN,1,0,0,0,0,1
876,877,0,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,UNKNOWN,0,0,1,0,0,1
877,878,0,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,UNKNOWN,0,0,1,0,0,1
878,879,0,"Laleff, Mr. Kristo",1,29.699118,0,0,349217,7.8958,UNKNOWN,0,0,1,0,0,1
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,1,0,0,1,0,0
880,881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,UNKNOWN,0,0,1,0,1,0
881,882,0,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,UNKNOWN,0,0,1,0,0,1
882,883,0,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,UNKNOWN,0,0,1,0,0,1
883,884,0,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,UNKNOWN,0,0,1,0,1,0
884,885,0,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,UNKNOWN,0,0,1,0,0,1
885,886,0,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,UNKNOWN,0,1,0,0,0,1
886,887,0,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,UNKNOWN,0,0,1,0,1,0
887,888,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,0,0,1,1,0,0
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.699118,1,2,W./C. 6607,23.4500,UNKNOWN,0,0,1,0,0,1
889,890,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,1,0,0,1,0,0
890,891,0,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,UNKNOWN,0,1,0,0,0,1

In [157]:
df.drop(['Name','Ticket'],axis=1,inplace=True)
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,1,22.000000,1,0,7.2500,UNKNOWN,0,0,1,0,0,1
1,2,1,0,38.000000,1,0,71.2833,C85,1,0,0,1,0,0
2,3,1,0,26.000000,0,0,7.9250,UNKNOWN,0,0,1,0,0,1
3,4,1,0,35.000000,1,0,53.1000,C123,0,0,1,1,0,0
4,5,0,1,35.000000,0,0,8.0500,UNKNOWN,0,0,1,0,0,1
5,6,0,1,29.699118,0,0,8.4583,UNKNOWN,0,1,0,0,0,1
6,7,0,1,54.000000,0,0,51.8625,E46,0,0,1,1,0,0
7,8,0,1,2.000000,3,1,21.0750,UNKNOWN,0,0,1,0,0,1
8,9,1,0,27.000000,0,2,11.1333,UNKNOWN,0,0,1,0,0,1
9,10,1,0,14.000000,1,0,30.0708,UNKNOWN,1,0,0,0,1,0
10,11,1,0,4.000000,1,1,16.7000,G6,0,0,1,0,0,1
11,12,1,0,58.000000,0,0,26.5500,C103,0,0,1,1,0,0
12,13,0,1,20.000000,0,0,8.0500,UNKNOWN,0,0,1,0,0,1
13,14,0,1,39.000000,1,5,31.2750,UNKNOWN,0,0,1,0,0,1
14,15,0,0,14.000000,0,0,7.8542,UNKNOWN,0,0,1,0,0,1
15,16,1,0,55.000000,0,0,16.0000,UNKNOWN,0,0,1,0,1,0
16,17,0,1,2.000000,4,1,29.1250,UNKNOWN,0,1,0,0,0,1
17,18,1,1,29.699118,0,0,13.0000,UNKNOWN,0,0,1,0,1,0
18,19,0,0,31.000000,1,0,18.0000,UNKNOWN,0,0,1,0,0,1
19,20,1,0,29.699118,0,0,7.2250,UNKNOWN,1,0,0,0,0,1
20,21,0,1,35.000000,0,0,26.0000,UNKNOWN,0,0,1,0,1,0
21,22,1,1,34.000000,0,0,13.0000,D56,0,0,1,0,1,0
22,23,1,0,15.000000,0,0,8.0292,UNKNOWN,0,1,0,0,0,1
23,24,1,1,28.000000,0,0,35.5000,A6,0,0,1,1,0,0
24,25,0,0,8.000000,3,1,21.0750,UNKNOWN,0,0,1,0,0,1
25,26,1,0,38.000000,1,5,31.3875,UNKNOWN,0,0,1,0,0,1
26,27,0,1,29.699118,0,0,7.2250,UNKNOWN,1,0,0,0,0,1
27,28,0,1,19.000000,3,2,263.0000,C23 C25 C27,0,0,1,1,0,0
28,29,1,0,29.699118,0,0,7.8792,UNKNOWN,0,1,0,0,0,1
29,30,0,1,29.699118,0,0,7.8958,UNKNOWN,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,1,21.000000,1,0,11.5000,UNKNOWN,0,0,1,0,1,0
862,863,1,0,48.000000,0,0,25.9292,D17,0,0,1,1,0,0
863,864,0,0,29.699118,8,2,69.5500,UNKNOWN,0,0,1,0,0,1
864,865,0,1,24.000000,0,0,13.0000,UNKNOWN,0,0,1,0,1,0
865,866,1,0,42.000000,0,0,13.0000,UNKNOWN,0,0,1,0,1,0
866,867,1,0,27.000000,1,0,13.8583,UNKNOWN,1,0,0,0,1,0
867,868,0,1,31.000000,0,0,50.4958,A24,0,0,1,1,0,0
868,869,0,1,29.699118,0,0,9.5000,UNKNOWN,0,0,1,0,0,1
869,870,1,1,4.000000,1,1,11.1333,UNKNOWN,0,0,1,0,0,1
870,871,0,1,26.000000,0,0,7.8958,UNKNOWN,0,0,1,0,0,1
871,872,1,0,47.000000,1,1,52.5542,D35,0,0,1,1,0,0
872,873,0,1,33.000000,0,0,5.0000,B51 B53 B55,0,0,1,1,0,0
873,874,0,1,47.000000,0,0,9.0000,UNKNOWN,0,0,1,0,0,1
874,875,1,0,28.000000,1,0,24.0000,UNKNOWN,1,0,0,0,1,0
875,876,1,0,15.000000,0,0,7.2250,UNKNOWN,1,0,0,0,0,1
876,877,0,1,20.000000,0,0,9.8458,UNKNOWN,0,0,1,0,0,1
877,878,0,1,19.000000,0,0,7.8958,UNKNOWN,0,0,1,0,0,1
878,879,0,1,29.699118,0,0,7.8958,UNKNOWN,0,0,1,0,0,1
879,880,1,0,56.000000,0,1,83.1583,C50,1,0,0,1,0,0
880,881,1,0,25.000000,0,1,26.0000,UNKNOWN,0,0,1,0,1,0
881,882,0,1,33.000000,0,0,7.8958,UNKNOWN,0,0,1,0,0,1
882,883,0,0,22.000000,0,0,10.5167,UNKNOWN,0,0,1,0,0,1
883,884,0,1,28.000000,0,0,10.5000,UNKNOWN,0,0,1,0,1,0
884,885,0,1,25.000000,0,0,7.0500,UNKNOWN,0,0,1,0,0,1
885,886,0,0,39.000000,0,5,29.1250,UNKNOWN,0,1,0,0,0,1
886,887,0,1,27.000000,0,0,13.0000,UNKNOWN,0,0,1,0,1,0
887,888,1,0,19.000000,0,0,30.0000,B42,0,0,1,1,0,0
888,889,0,0,29.699118,1,2,23.4500,UNKNOWN,0,0,1,0,0,1
889,890,1,1,26.000000,0,0,30.0000,C148,1,0,0,1,0,0
890,891,0,1,32.000000,0,0,7.7500,UNKNOWN,0,1,0,0,0,1

In [158]:
cabinDf=pd.DataFrame()
df[ 'Cabin' ] = df[ 'Cabin' ].map( lambda c : c[0] )
cabinDf=pd.get_dummies(df['Cabin'],prefix='Cabin')
cabinDf.head()

,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1

In [159]:
df = pd.concat([df,cabinDf],axis=1)

In [160]:
df.drop('Cabin',axis=1,inplace=True)
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,...,Pclass_3,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,1,0,1,22.000000,1,0,7.2500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
1,2,1,0,38.000000,1,0,71.2833,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3,1,0,26.000000,0,0,7.9250,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,4,1,0,35.000000,1,0,53.1000,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,5,0,1,35.000000,0,0,8.0500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
5,6,0,1,29.699118,0,0,8.4583,0,1,0,...,1,0,0,0,0,0,0,0,0,1
6,7,0,1,54.000000,0,0,51.8625,0,0,1,...,0,0,0,0,0,1,0,0,0,0
7,8,0,1,2.000000,3,1,21.0750,0,0,1,...,1,0,0,0,0,0,0,0,0,1
8,9,1,0,27.000000,0,2,11.1333,0,0,1,...,1,0,0,0,0,0,0,0,0,1
9,10,1,0,14.000000,1,0,30.0708,1,0,0,...,0,0,0,0,0,0,0,0,0,1
10,11,1,0,4.000000,1,1,16.7000,0,0,1,...,1,0,0,0,0,0,0,1,0,0
11,12,1,0,58.000000,0,0,26.5500,0,0,1,...,0,0,0,1,0,0,0,0,0,0
12,13,0,1,20.000000,0,0,8.0500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
13,14,0,1,39.000000,1,5,31.2750,0,0,1,...,1,0,0,0,0,0,0,0,0,1
14,15,0,0,14.000000,0,0,7.8542,0,0,1,...,1,0,0,0,0,0,0,0,0,1
15,16,1,0,55.000000,0,0,16.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
16,17,0,1,2.000000,4,1,29.1250,0,1,0,...,1,0,0,0,0,0,0,0,0,1
17,18,1,1,29.699118,0,0,13.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
18,19,0,0,31.000000,1,0,18.0000,0,0,1,...,1,0,0,0,0,0,0,0,0,1
19,20,1,0,29.699118,0,0,7.2250,1,0,0,...,1,0,0,0,0,0,0,0,0,1
20,21,0,1,35.000000,0,0,26.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
21,22,1,1,34.000000,0,0,13.0000,0,0,1,...,0,0,0,0,1,0,0,0,0,0
22,23,1,0,15.000000,0,0,8.0292,0,1,0,...,1,0,0,0,0,0,0,0,0,1
23,24,1,1,28.000000,0,0,35.5000,0,0,1,...,0,1,0,0,0,0,0,0,0,0
24,25,0,0,8.000000,3,1,21.0750,0,0,1,...,1,0,0,0,0,0,0,0,0,1
25,26,1,0,38.000000,1,5,31.3875,0,0,1,...,1,0,0,0,0,0,0,0,0,1
26,27,0,1,29.699118,0,0,7.2250,1,0,0,...,1,0,0,0,0,0,0,0,0,1
27,28,0,1,19.000000,3,2,263.0000,0,0,1,...,0,0,0,1,0,0,0,0,0,0
28,29,1,0,29.699118,0,0,7.8792,0,1,0,...,1,0,0,0,0,0,0,0,0,1
29,30,0,1,29.699118,0,0,7.8958,0,0,1,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,1,21.000000,1,0,11.5000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
862,863,1,0,48.000000,0,0,25.9292,0,0,1,...,0,0,0,0,1,0,0,0,0,0
863,864,0,0,29.699118,8,2,69.5500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
864,865,0,1,24.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
865,866,1,0,42.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
866,867,1,0,27.000000,1,0,13.8583,1,0,0,...,0,0,0,0,0,0,0,0,0,1
867,868,0,1,31.000000,0,0,50.4958,0,0,1,...,0,1,0,0,0,0,0,0,0,0
868,869,0,1,29.699118,0,0,9.5000,0,0,1,...,1,0,0,0,0,0,0,0,0,1
869,870,1,1,4.000000,1,1,11.1333,0,0,1,...,1,0,0,0,0,0,0,0,0,1
870,871,0,1,26.000000,0,0,7.8958,0,0,1,...,1,0,0,0,0,0,0,0,0,1
871,872,1,0,47.000000,1,1,52.5542,0,0,1,...,0,0,0,0,1,0,0,0,0,0
872,873,0,1,33.000000,0,0,5.0000,0,0,1,...,0,0,1,0,0,0,0,0,0,0
873,874,0,1,47.000000,0,0,9.0000,0,0,1,...,1,0,0,0,0,0,0,0,0,1
874,875,1,0,28.000000,1,0,24.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
875,876,1,0,15.000000,0,0,7.2250,1,0,0,...,1,0,0,0,0,0,0,0,0,1
876,877,0,1,20.000000,0,0,9.8458,0,0,1,...,1,0,0,0,0,0,0,0,0,1
877,878,0,1,19.000000,0,0,7.8958,0,0,1,...,1,0,0,0,0,0,0,0,0,1
878,879,0,1,29.699118,0,0,7.8958,0,0,1,...,1,0,0,0,0,0,0,0,0,1
879,880,1,0,56.000000,0,1,83.1583,1,0,0,...,0,0,0,1,0,0,0,0,0,0
880,881,1,0,25.000000,0,1,26.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
881,882,0,1,33.000000,0,0,7.8958,0,0,1,...,1,0,0,0,0,0,0,0,0,1
882,883,0,0,22.000000,0,0,10.5167,0,0,1,...,1,0,0,0,0,0,0,0,0,1
883,884,0,1,28.000000,0,0,10.5000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
884,885,0,1,25.000000,0,0,7.0500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
885,886,0,0,39.000000,0,5,29.1250,0,1,0,...,1,0,0,0,0,0,0,0,0,1
886,887,0,1,27.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
887,888,1,0,19.000000,0,0,30.0000,0,0,1,...,0,0,1,0,0,0,0,0,0,0
888,889,0,0,29.699118,1,2,23.4500,0,0,1,...,1,0,0,0,0,0,0,0,0,1
889,890,1,1,26.000000,0,0,30.0000,1,0,0,...,0,0,0,1,0,0,0,0,0,0
890,891,0,1,32.000000,0,0,7.7500,0,1,0,...,1,0,0,0,0,0,0,0,0,1

In [161]:
familyDf=pd.DataFrame()
familyDf['FamilySize']=df['Parch']+df['SibSp']+1
familyDf['Family_Single']=familyDf['FamilySize'].map(lambda s: 1 if s==1 else 0)
familyDf[ 'Family_Small' ]  = familyDf[ 'FamilySize' ].map( lambda s : 1 if 2 <= s <= 4 else 0 )
familyDf[ 'Family_Large' ]  = familyDf[ 'FamilySize' ].map( lambda s : 1 if 5 <= s else 0 )
df=pd.concat([df,familyDf],axis=1)
df

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,FamilySize,Family_Single,Family_Small,Family_Large
0,1,0,1,22.000000,1,0,7.2500,0,0,1,...,0,0,0,0,0,1,2,0,1,0
1,2,1,0,38.000000,1,0,71.2833,1,0,0,...,0,0,0,0,0,0,2,0,1,0
2,3,1,0,26.000000,0,0,7.9250,0,0,1,...,0,0,0,0,0,1,1,1,0,0
3,4,1,0,35.000000,1,0,53.1000,0,0,1,...,0,0,0,0,0,0,2,0,1,0
4,5,0,1,35.000000,0,0,8.0500,0,0,1,...,0,0,0,0,0,1,1,1,0,0
5,6,0,1,29.699118,0,0,8.4583,0,1,0,...,0,0,0,0,0,1,1,1,0,0
6,7,0,1,54.000000,0,0,51.8625,0,0,1,...,0,1,0,0,0,0,1,1,0,0
7,8,0,1,2.000000,3,1,21.0750,0,0,1,...,0,0,0,0,0,1,5,0,0,1
8,9,1,0,27.000000,0,2,11.1333,0,0,1,...,0,0,0,0,0,1,3,0,1,0
9,10,1,0,14.000000,1,0,30.0708,1,0,0,...,0,0,0,0,0,1,2,0,1,0
10,11,1,0,4.000000,1,1,16.7000,0,0,1,...,0,0,0,1,0,0,3,0,1,0
11,12,1,0,58.000000,0,0,26.5500,0,0,1,...,0,0,0,0,0,0,1,1,0,0
12,13,0,1,20.000000,0,0,8.0500,0,0,1,...,0,0,0,0,0,1,1,1,0,0
13,14,0,1,39.000000,1,5,31.2750,0,0,1,...,0,0,0,0,0,1,7,0,0,1
14,15,0,0,14.000000,0,0,7.8542,0,0,1,...,0,0,0,0,0,1,1,1,0,0
15,16,1,0,55.000000,0,0,16.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
16,17,0,1,2.000000,4,1,29.1250,0,1,0,...,0,0,0,0,0,1,6,0,0,1
17,18,1,1,29.699118,0,0,13.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
18,19,0,0,31.000000,1,0,18.0000,0,0,1,...,0,0,0,0,0,1,2,0,1,0
19,20,1,0,29.699118,0,0,7.2250,1,0,0,...,0,0,0,0,0,1,1,1,0,0
20,21,0,1,35.000000,0,0,26.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
21,22,1,1,34.000000,0,0,13.0000,0,0,1,...,1,0,0,0,0,0,1,1,0,0
22,23,1,0,15.000000,0,0,8.0292,0,1,0,...,0,0,0,0,0,1,1,1,0,0
23,24,1,1,28.000000,0,0,35.5000,0,0,1,...,0,0,0,0,0,0,1,1,0,0
24,25,0,0,8.000000,3,1,21.0750,0,0,1,...,0,0,0,0,0,1,5,0,0,1
25,26,1,0,38.000000,1,5,31.3875,0,0,1,...,0,0,0,0,0,1,7,0,0,1
26,27,0,1,29.699118,0,0,7.2250,1,0,0,...,0,0,0,0,0,1,1,1,0,0
27,28,0,1,19.000000,3,2,263.0000,0,0,1,...,0,0,0,0,0,0,6,0,0,1
28,29,1,0,29.699118,0,0,7.8792,0,1,0,...,0,0,0,0,0,1,1,1,0,0
29,30,0,1,29.699118,0,0,7.8958,0,0,1,...,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,1,21.000000,1,0,11.5000,0,0,1,...,0,0,0,0,0,1,2,0,1,0
862,863,1,0,48.000000,0,0,25.9292,0,0,1,...,1,0,0,0,0,0,1,1,0,0
863,864,0,0,29.699118,8,2,69.5500,0,0,1,...,0,0,0,0,0,1,11,0,0,1
864,865,0,1,24.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
865,866,1,0,42.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
866,867,1,0,27.000000,1,0,13.8583,1,0,0,...,0,0,0,0,0,1,2,0,1,0
867,868,0,1,31.000000,0,0,50.4958,0,0,1,...,0,0,0,0,0,0,1,1,0,0
868,869,0,1,29.699118,0,0,9.5000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
869,870,1,1,4.000000,1,1,11.1333,0,0,1,...,0,0,0,0,0,1,3,0,1,0
870,871,0,1,26.000000,0,0,7.8958,0,0,1,...,0,0,0,0,0,1,1,1,0,0
871,872,1,0,47.000000,1,1,52.5542,0,0,1,...,1,0,0,0,0,0,3,0,1,0
872,873,0,1,33.000000,0,0,5.0000,0,0,1,...,0,0,0,0,0,0,1,1,0,0
873,874,0,1,47.000000,0,0,9.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
874,875,1,0,28.000000,1,0,24.0000,1,0,0,...,0,0,0,0,0,1,2,0,1,0
875,876,1,0,15.000000,0,0,7.2250,1,0,0,...,0,0,0,0,0,1,1,1,0,0
876,877,0,1,20.000000,0,0,9.8458,0,0,1,...,0,0,0,0,0,1,1,1,0,0
877,878,0,1,19.000000,0,0,7.8958,0,0,1,...,0,0,0,0,0,1,1,1,0,0
878,879,0,1,29.699118,0,0,7.8958,0,0,1,...,0,0,0,0,0,1,1,1,0,0
879,880,1,0,56.000000,0,1,83.1583,1,0,0,...,0,0,0,0,0,0,2,0,1,0
880,881,1,0,25.000000,0,1,26.0000,0,0,1,...,0,0,0,0,0,1,2,0,1,0
881,882,0,1,33.000000,0,0,7.8958,0,0,1,...,0,0,0,0,0,1,1,1,0,0
882,883,0,0,22.000000,0,0,10.5167,0,0,1,...,0,0,0,0,0,1,1,1,0,0
883,884,0,1,28.000000,0,0,10.5000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
884,885,0,1,25.000000,0,0,7.0500,0,0,1,...,0,0,0,0,0,1,1,1,0,0
885,886,0,0,39.000000,0,5,29.1250,0,1,0,...,0,0,0,0,0,1,6,0,0,1
886,887,0,1,27.000000,0,0,13.0000,0,0,1,...,0,0,0,0,0,1,1,1,0,0
887,888,1,0,19.000000,0,0,30.0000,0,0,1,...,0,0,0,0,0,0,1,1,0,0
888,889,0,0,29.699118,1,2,23.4500,0,0,1,...,0,0,0,0,0,1,4,0,1,0
889,890,1,1,26.000000,0,0,30.0000,1,0,0,...,0,0,0,0,0,0,1,1,0,0
890,891,0,1,32.000000,0,0,7.7500,0,1,0,...,0,0,0,0,0,1,1,1,0,0

In [162]:
df.drop(['SibSp','Parch'],axis=1,inplace=True)
df

,PassengerId,Survived,Sex,Age,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,FamilySize,Family_Single,Family_Small,Family_Large
0,1,0,1,22.000000,7.2500,0,0,1,0,0,...,0,0,0,0,0,1,2,0,1,0
1,2,1,0,38.000000,71.2833,1,0,0,1,0,...,0,0,0,0,0,0,2,0,1,0
2,3,1,0,26.000000,7.9250,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
3,4,1,0,35.000000,53.1000,0,0,1,1,0,...,0,0,0,0,0,0,2,0,1,0
4,5,0,1,35.000000,8.0500,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
5,6,0,1,29.699118,8.4583,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
6,7,0,1,54.000000,51.8625,0,0,1,1,0,...,0,1,0,0,0,0,1,1,0,0
7,8,0,1,2.000000,21.0750,0,0,1,0,0,...,0,0,0,0,0,1,5,0,0,1
8,9,1,0,27.000000,11.1333,0,0,1,0,0,...,0,0,0,0,0,1,3,0,1,0
9,10,1,0,14.000000,30.0708,1,0,0,0,1,...,0,0,0,0,0,1,2,0,1,0
10,11,1,0,4.000000,16.7000,0,0,1,0,0,...,0,0,0,1,0,0,3,0,1,0
11,12,1,0,58.000000,26.5500,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
12,13,0,1,20.000000,8.0500,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
13,14,0,1,39.000000,31.2750,0,0,1,0,0,...,0,0,0,0,0,1,7,0,0,1
14,15,0,0,14.000000,7.8542,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
15,16,1,0,55.000000,16.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
16,17,0,1,2.000000,29.1250,0,1,0,0,0,...,0,0,0,0,0,1,6,0,0,1
17,18,1,1,29.699118,13.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
18,19,0,0,31.000000,18.0000,0,0,1,0,0,...,0,0,0,0,0,1,2,0,1,0
19,20,1,0,29.699118,7.2250,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
20,21,0,1,35.000000,26.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
21,22,1,1,34.000000,13.0000,0,0,1,0,1,...,1,0,0,0,0,0,1,1,0,0
22,23,1,0,15.000000,8.0292,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
23,24,1,1,28.000000,35.5000,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
24,25,0,0,8.000000,21.0750,0,0,1,0,0,...,0,0,0,0,0,1,5,0,0,1
25,26,1,0,38.000000,31.3875,0,0,1,0,0,...,0,0,0,0,0,1,7,0,0,1
26,27,0,1,29.699118,7.2250,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
27,28,0,1,19.000000,263.0000,0,0,1,1,0,...,0,0,0,0,0,0,6,0,0,1
28,29,1,0,29.699118,7.8792,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
29,30,0,1,29.699118,7.8958,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,1,21.000000,11.5000,0,0,1,0,1,...,0,0,0,0,0,1,2,0,1,0
862,863,1,0,48.000000,25.9292,0,0,1,1,0,...,1,0,0,0,0,0,1,1,0,0
863,864,0,0,29.699118,69.5500,0,0,1,0,0,...,0,0,0,0,0,1,11,0,0,1
864,865,0,1,24.000000,13.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
865,866,1,0,42.000000,13.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
866,867,1,0,27.000000,13.8583,1,0,0,0,1,...,0,0,0,0,0,1,2,0,1,0
867,868,0,1,31.000000,50.4958,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
868,869,0,1,29.699118,9.5000,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
869,870,1,1,4.000000,11.1333,0,0,1,0,0,...,0,0,0,0,0,1,3,0,1,0
870,871,0,1,26.000000,7.8958,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
871,872,1,0,47.000000,52.5542,0,0,1,1,0,...,1,0,0,0,0,0,3,0,1,0
872,873,0,1,33.000000,5.0000,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
873,874,0,1,47.000000,9.0000,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
874,875,1,0,28.000000,24.0000,1,0,0,0,1,...,0,0,0,0,0,1,2,0,1,0
875,876,1,0,15.000000,7.2250,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
876,877,0,1,20.000000,9.8458,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
877,878,0,1,19.000000,7.8958,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
878,879,0,1,29.699118,7.8958,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
879,880,1,0,56.000000,83.1583,1,0,0,1,0,...,0,0,0,0,0,0,2,0,1,0
880,881,1,0,25.000000,26.0000,0,0,1,0,1,...,0,0,0,0,0,1,2,0,1,0
881,882,0,1,33.000000,7.8958,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
882,883,0,0,22.000000,10.5167,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
883,884,0,1,28.000000,10.5000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
884,885,0,1,25.000000,7.0500,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
885,886,0,0,39.000000,29.1250,0,1,0,0,0,...,0,0,0,0,0,1,6,0,0,1
886,887,0,1,27.000000,13.0000,0,0,1,0,1,...,0,0,0,0,0,1,1,1,0,0
887,888,1,0,19.000000,30.0000,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
888,889,0,0,29.699118,23.4500,0,0,1,0,0,...,0,0,0,0,0,1,4,0,1,0
889,890,1,1,26.000000,30.0000,1,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
890,891,0,1,32.000000,7.7500,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0

In [168]:
df.to_csv(r"C:\Users\hbyluc\Desktop\文件\机器学习\CCPP\df.csv")

In [164]:
corrDf=df.corr()
corrDf

corrDf['Survived'].sort_values(ascending =False)


df_X=pd.concat([pclassDf,
                  familyDf,
                  fullDf['Fare'],
                  cabinDf,
                  embarkedDf,
                  df['Sex'],
                 ],axis=1)
df_X.head()

,Pclass_1,Pclass_2,Pclass_3,FamilySize,Family_Single,Family_Small,Family_Large,Fare,Cabin_A,Cabin_B,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Sex
0,0,0,1,2,0,1,0,7.2500,0,0,...,0,0,0,0,0,1,0,0,1,1
1,1,0,0,2,0,1,0,71.2833,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,1,1,0,0,7.9250,0,0,...,0,0,0,0,0,1,0,0,1,0
3,1,0,0,2,0,1,0,53.1000,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,1,1,0,0,8.0500,0,0,...,0,0,0,0,0,1,0,0,1,1

In [165]:
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(df['Age'].values.reshape(-1, 1))
df['Age_scaled'] = scaler.fit_transform(df['Age'].values.reshape(-1, 1), age_scale_param)
fare_scale_param = scaler.fit(df['Fare'].values.reshape(-1, 1))
df['Fare_scaled'] = scaler.fit_transform(df['Fare'].values.reshape(-1, 1), fare_scale_param)
df.drop(['Age','Fare'],axis=1,inplace=True)
df

,PassengerId,Survived,Sex,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Cabin_A,...,Cabin_F,Cabin_G,Cabin_T,Cabin_U,FamilySize,Family_Single,Family_Small,Family_Large,Age_scaled,Fare_scaled
0,1,0,1,0,0,1,0,0,1,0,...,0,0,0,1,2,0,1,0,-0.592481,-0.502445
1,2,1,0,1,0,0,1,0,0,0,...,0,0,0,0,2,0,1,0,0.638789,0.786845
2,3,1,0,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.284663,-0.488854
3,4,1,0,0,0,1,1,0,0,0,...,0,0,0,0,2,0,1,0,0.407926,0.420730
4,5,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,0.407926,-0.486337
5,6,0,1,0,1,0,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.478116
6,7,0,1,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,1.870059,0.395814
7,8,0,1,0,0,1,0,0,1,0,...,0,0,0,1,5,0,0,1,-2.131568,-0.224083
8,9,1,0,0,0,1,0,0,1,0,...,0,0,0,1,3,0,1,0,-0.207709,-0.424256
9,10,1,0,1,0,0,0,1,0,0,...,0,0,0,1,2,0,1,0,-1.208115,-0.042956
10,11,1,0,0,0,1,0,0,1,0,...,0,1,0,0,3,0,1,0,-1.977659,-0.312172
11,12,1,0,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,2.177876,-0.113846
12,13,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.746389,-0.486337
13,14,0,1,0,0,1,0,0,1,0,...,0,0,0,1,7,0,0,1,0.715743,-0.018709
14,15,0,0,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-1.208115,-0.490280
15,16,1,0,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,1.947013,-0.326267
16,17,0,1,0,1,0,0,0,1,0,...,0,0,0,1,6,0,0,1,-2.131568,-0.061999
17,18,1,1,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,0.000000,-0.386671
18,19,0,0,0,0,1,0,0,1,0,...,0,0,0,1,2,0,1,0,0.100109,-0.285997
19,20,1,0,1,0,0,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.502949
20,21,0,1,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,0.407926,-0.124920
21,22,1,1,0,0,1,0,1,0,0,...,0,0,0,0,1,1,0,0,0.330972,-0.386671
22,23,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,1,0,0,-1.131161,-0.486756
23,24,1,1,0,0,1,1,0,0,1,...,0,0,0,0,1,1,0,0,-0.130754,0.066360
24,25,0,0,0,0,1,0,0,1,0,...,0,0,0,1,5,0,0,1,-1.669842,-0.224083
25,26,1,0,0,0,1,0,0,1,0,...,0,0,0,1,7,0,0,1,0.638789,-0.016444
26,27,0,1,1,0,0,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.502949
27,28,0,1,0,0,1,1,0,0,0,...,0,0,0,0,6,0,0,1,-0.823344,4.647001
28,29,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.489776
29,30,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.489442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,1,0,0,1,0,1,0,0,...,0,0,0,1,2,0,1,0,-0.669435,-0.416873
862,863,1,0,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,1.408333,-0.126345
863,864,0,0,0,0,1,0,0,1,0,...,0,0,0,1,11,0,0,1,0.000000,0.751946
864,865,0,1,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,-0.438572,-0.386671
865,866,1,0,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,0.946606,-0.386671
866,867,1,0,1,0,0,0,1,0,0,...,0,0,0,1,2,0,1,0,-0.207709,-0.369389
867,868,0,1,0,0,1,1,0,0,1,...,0,0,0,0,1,1,0,0,0.100109,0.368295
868,869,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.457142
869,870,1,1,0,0,1,0,0,1,0,...,0,0,0,1,3,0,1,0,-1.977659,-0.424256
870,871,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.284663,-0.489442
871,872,1,0,0,0,1,1,0,0,0,...,0,0,0,0,3,0,1,0,1.331378,0.409741
872,873,0,1,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0.254017,-0.547748
873,874,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,1.331378,-0.467209
874,875,1,0,1,0,0,0,1,0,0,...,0,0,0,1,2,0,1,0,-0.130754,-0.165189
875,876,1,0,1,0,0,0,0,1,0,...,0,0,0,1,1,1,0,0,-1.131161,-0.502949
876,877,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.746389,-0.450180
877,878,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.823344,-0.489442
878,879,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,0.000000,-0.489442
879,880,1,0,1,0,0,1,0,0,0,...,0,0,0,0,2,0,1,0,2.023967,1.025945
880,881,1,0,0,0,1,0,1,0,0,...,0,0,0,1,2,0,1,0,-0.361618,-0.124920
881,882,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,0.254017,-0.489442
882,883,0,0,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.592481,-0.436671
883,884,0,1,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,-0.130754,-0.437007
884,885,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,1,0,0,-0.361618,-0.506472
885,886,0,0,0,1,0,0,0,1,0,...,0,0,0,1,6,0,0,1,0.715743,-0.061999
886,887,0,1,0,0,1,0,1,0,0,...,0,0,0,1,1,1,0,0,-0.207709,-0.386671
887,888,1,0,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,-0.823344,-0.044381
888,889,0,0,0,0,1,0,0,1,0,...,0,0,0,1,4,0,1,0,0.000000,-0.176263
889,890,1,1,1,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,-0.284663,-0.044381
890,891,0,1,0,1,0,0,0,1,0,...,0,0,0,1,1,1,0,0,0.177063,-0.492378

In [118]:
corrDF=df.corr()
corrDf

,PassengerId,Survived,Sex,Age,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,FamilySize,Family_Single,Family_Small,Family_Large
PassengerId,1.000000,-0.005007,0.042939,0.033207,0.012658,-0.001205,-0.033606,0.022204,0.034303,-0.000086,...,0.022828,0.042351,-0.035772,-0.060049,-0.013814,-0.019919,-0.040143,0.057462,-0.028976,-0.057055
Survived,-0.005007,1.000000,-0.543351,-0.069809,0.257307,0.168240,0.003650,-0.149683,0.285904,0.093349,...,0.150716,0.145321,0.057935,0.016040,-0.026456,-0.316912,0.016639,-0.203367,0.279855,-0.125147
Sex,0.042939,-0.543351,1.000000,0.084153,-0.182333,-0.082853,-0.074115,0.119224,-0.098013,-0.064746,...,-0.079248,-0.047003,-0.008202,-0.091031,0.024728,0.140391,-0.200988,0.303646,-0.260747,-0.102954
Age,0.033207,-0.069809,0.084153,1.000000,0.091566,0.032024,-0.013855,-0.019336,0.319916,0.006589,...,0.132319,0.117211,-0.077209,-0.077253,0.039469,-0.233123,-0.248512,0.179775,-0.076160,-0.205243
Fare,0.012658,0.257307,-0.182333,0.091566,1.000000,0.269335,-0.117216,-0.162184,0.591711,-0.118557,...,0.098878,0.053717,-0.033093,-0.025180,0.002224,-0.482075,0.217138,-0.271832,0.205527,0.143636
Embarked_C,-0.001205,0.168240,-0.082853,0.032024,0.269335,1.000000,-0.148258,-0.782742,0.296423,-0.125416,...,0.102977,-0.015939,-0.034726,-0.032371,-0.016158,-0.208528,-0.046215,-0.095298,0.158586,-0.109274
Embarked_Q,-0.033606,0.003650,-0.074115,-0.013855,-0.117216,-0.148258,1.000000,-0.499421,-0.155342,-0.127301,...,-0.060318,-0.037897,-0.004113,-0.020654,-0.010310,0.129572,-0.058592,0.086464,-0.087093,-0.005620
Embarked_S,0.022204,-0.149683,0.119224,-0.019336,-0.162184,-0.782742,-0.499421,1.000000,-0.161921,0.189980,...,-0.052254,0.037812,0.033010,0.041356,0.020643,0.101139,0.077359,0.029074,-0.084120,0.099265
Pclass_1,0.034303,0.285904,-0.098013,0.319916,0.591711,0.296423,-0.155342,-0.161921,1.000000,-0.288585,...,0.291218,0.242675,-0.068833,-0.037988,0.059256,-0.788773,-0.046114,-0.113364,0.168568,-0.092945
Pclass_2,-0.000086,0.093349,-0.064746,0.006589,-0.118557,-0.125416,-0.127301,0.189980,-0.288585,1.000000,...,-0.041325,-0.038864,0.122906,-0.034258,-0.017100,0.172413,-0.038594,-0.039070,0.104546,-0.117721
Pclass_3,-0.029486,-0.322308,0.137143,-0.281004,-0.413333,-0.153329,0.237449,-0.015104,-0.626738,-0.565210,...,-0.217282,-0.177461,-0.040721,0.060612,-0.037138,0.539291,0.071142,0.129472,-0.230325,0.175890
Cabin_A,-0.003256,0.022287,0.078271,0.121920,0.019549,0.093040,-0.040246,-0.056180,0.231323,-0.066756,...,-0.025663,-0.025256,-0.015923,-0.008787,-0.004386,-0.240136,-0.051767,0.052762,-0.035607,-0.035786
Cabin_B,0.069552,0.175095,-0.109689,0.091394,0.386297,0.168642,-0.072579,-0.102063,0.417160,-0.120386,...,-0.046280,-0.045547,-0.028715,-0.015847,-0.007910,-0.433053,0.004620,-0.064914,0.081264,-0.025070
Cabin_C,-0.040957,0.114652,-0.058649,0.113149,0.364318,0.113952,-0.049776,-0.068502,0.470749,-0.135851,...,-0.052225,-0.051398,-0.032403,-0.017883,-0.008926,-0.488683,0.035347,-0.125062,0.131394,-0.001871
Cabin_D,0.022828,0.150716,-0.079248,0.132319,0.098878,0.102977,-0.060318,-0.052254,0.291218,-0.041325,...,1.000000,-0.037852,-0.023864,-0.013170,-0.006574,-0.359896,-0.021566,-0.083664,0.116295,-0.053633
Cabin_E,0.042351,0.145321,-0.047003,0.117211,0.053717,-0.015939,-0.037897,0.037812,0.242675,-0.038864,...,-0.037852,1.000000,-0.023486,-0.012961,-0.006470,-0.354194,-0.033466,-0.028179,0.057991,-0.052783
Cabin_F,-0.035772,0.057935,-0.008202,-0.077209,-0.033093,-0.034726,-0.004113,0.033010,-0.068833,0.122906,...,-0.023864,-0.023486,1.000000,-0.008171,-0.004079,-0.223299,0.013003,-0.015972,0.034690,-0.033277
Cabin_G,-0.060049,0.016040,-0.091031,-0.077253,-0.025180,-0.032371,-0.020654,0.041356,-0.037988,-0.034258,...,-0.013170,-0.012961,-0.008171,1.000000,-0.002251,-0.123234,0.035206,-0.082709,0.096181,-0.018365
Cabin_T,-0.013814,-0.026456,0.024728,0.039469,0.002224,-0.016158,-0.010310,0.020643,0.059256,-0.017100,...,-0.006574,-0.006470,-0.004079,-0.002251,1.000000,-0.061513,-0.018804,0.027216,-0.023404,-0.009167
Cabin_U,-0.019919,-0.316912,0.140391,-0.233123,-0.482075,-0.208528,0.129572,0.101139,-0.788773,0.172413,...,-0.359896,-0.354194,-0.223299,-0.123234,-0.061513,1.000000,0.009175,0.158029,-0.211386,0.086035
FamilySize,-0.040143,0.016639,-0.200988,-0.248512,0.217138,-0.046215,-0.058592,0.077359,-0.046114,-0.038594,...,-0.021566,-0.033466,0.013003,0.035206,-0.018804,0.009175,1.000000,-0.690922,0.278553,0.814901
Family_Single,0.057462,-0.203367,0.303646,0.179775,-0.271832,-0.095298,0.086464,0.029074,-0.113364,-0.039070,...,-0.083664,-0.028179,-0.015972,-0.082709,0.027216,0.158029,-0.690922,1.000000,-0.859931,-0.336825
Family_Small,-0.028976,0.279855,-0.260747,-0.076160,0.205527,0.158586,-0.087093,-0.084120,0.168568,0.104546,...,0.116295,0.057991,0.034690,0.096181,-0.023404,-0.211386,0.278553,-0.859931,1.000000,-0.190940
Family_Large,-0.057055,-0.125147,-0.102954,-0.205243,0.143636,-0.109274,-0.005620,0.099265,-0.092945,-0.117721,...,-0.053633,-0.052783,-0.033277,-0.018365,-0.009167,0.086035,0.814901,-0.336825,-0.190940,1.000000

In [119]:
corrDF['Survived'].sort_values(ascending=False)

Survived         1.000000
Pclass_1         0.285904
Family_Small     0.279855
Fare_scaled      0.257307
Cabin_B          0.175095
Embarked_C       0.168240
Cabin_D          0.150716
Cabin_E          0.145321
Cabin_C          0.114652
Pclass_2         0.093349
Cabin_F          0.057935
Cabin_A          0.022287
FamilySize       0.016639
Cabin_G          0.016040
Embarked_Q       0.003650
PassengerId     -0.005007
Cabin_T         -0.026456
Age_scaled      -0.069809
Family_Large    -0.125147
Embarked_S      -0.149683
Family_Single   -0.203367
Cabin_U         -0.316912
Pclass_3        -0.322308
Sex             -0.543351
Name: Survived, dtype: float64

In [120]:
df_X=pd.concat([pclassDf,
                  familyDf,
                  df['Fare_scaled'],
                  df['Age_scaled'],
                  cabinDf,
                  embarkedDf,
                  df['Sex'],
                 ],axis=1)
df_X.head()

,Pclass_1,Pclass_2,Pclass_3,FamilySize,Family_Single,Family_Small,Family_Large,Fare_scaled,Age_scaled,Cabin_A,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Sex
0,0,0,1,2,0,1,0,-0.502445,-0.592481,0,...,0,0,0,0,0,1,0,0,1,1
1,1,0,0,2,0,1,0,0.786845,0.638789,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,1,1,0,0,-0.488854,-0.284663,0,...,0,0,0,0,0,1,0,0,1,0
3,1,0,0,2,0,1,0,0.420730,0.407926,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,1,1,0,0,-0.486337,0.407926,0,...,0,0,0,0,0,1,0,0,1,1

In [169]:
from sklearn.model_selection import train_test_split
sourceRow=700

source_X=df_X.loc[0:sourceRow-1,:]

source_y=df.loc[0:sourceRow-1,'Survived']


pred_X=df_X.loc[sourceRow:,:]



print('Experimental dataset rows：',source_X.shape[0])

print('Predicted dataset rows：',pred_X.shape[0])



train_X,test_X,train_y,test_y=train_test_split(source_X,source_y,train_size=.8)


print('Experimental dataset:',source_X.shape,
     'Train dataset：',train_X.shape,
     'Test dataset:',test_X.shape)


print('Experimental dataset:',source_y.shape,
     'Train dataset：',train_y.shape,
     'Test dataset:',test_y.shape)

Experimental dataset rows： 700
Predicted dataset rows： 191
Experimental dataset: (700, 21) Train dataset： (560, 21) Test dataset: (140, 21)
Experimental dataset: (700,) Train dataset： (560,) Test dataset: (140,)

In [138]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [139]:
model.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

C:\Users\hbyluc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [140]:
model.score(test_X,test_y)

0.7642857142857142

In [141]:
pred_y = model.predict(pred_X)
pred_y = pred_y.astype(int)
print(pred_y)

[1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 1 1 0 0 0 0 0 0
 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 1 0
 0 0 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 1 0 1 0
 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0
 0 1 0 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0
 0 0 1 1 0 0]

0.7642857142857142